.aboutme-background{
background-color: rgba(44, 41, 41, 0.712);
  width: 35vw;
  height: 90vh;
  z-index: 1;   
  color: white; 
  position:fixed;
  left:21vw;
  bottom: 0vh;
  top: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border: white 1px solid;
  border-radius: 2px;
  box-shadow:
  0px 0px 9px rgba(39, 132, 238, 0.877),
  -0em 0em 2em 1.8em rgb(14, 14, 13);
}

.aboutme-container{
 background-color: rgba(39, 37, 37, 0.596);
 position: relative;
  width: 95%;
  height: 70%;
  display: flex;
  top: 10%;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
 
  
}
@font-face{
    font-family:"EX_PS_Medium_Neon";
    src: url("/my-react-app/src/fonts/EX_PS_Medium_Neon.otf") 
  format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.head{
  position: absolute;
  font-family: "EX_PS_Medium_Neon.otf";
  top: 0;
  left: 0;
  text-align: left;
  background-color: rgba(39, 37, 37, 0.596);
  width: 100%;
  height: 20%;
 
}

@font-face{
    font-family:"EX_PS_Medium_Neon";
    src: url("/my-react-app/src/fonts/EX_PS_Medium_Neon.otf") 
  format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.head>h2{
  font-weight:100;
  
  padding-top: 50px;
  padding-left: 20px;
 position: absolute;
 
  
  font-size: 50px;
}
.aboutme-container>p{
  text-align: left;
  width:100%;
 
}

.aboutme-button{
  
}