.aboutme-background{
background-color: rgba(44, 41, 41, 0.6);
  width: 35vw;
  height: 101vh;
  z-index: 2;   
  color: white; 
  position: absolute;
  left:21vw;
  bottom: -35vh;
  justify-content: center;

}

.aboutme-container{
    padding-top:10%;
 padding-left: 10%;
 width: 75%;
 height: 80%;

}

.aboutme-button{
  
}