
.embla {
  position: relative;
  overflow: hidden;
  top:20vh;
  width: 100vw;   /* full viewport width */
  height: 100vh; 
  z-index: 0;
 
 
}

.embla__container {
  display: flex;
  height: 75%;  
 
}

.embla__slide {
  flex: 0 0 100%; 
  min-width: 0;
  position: relative;
  
}

.embla__slide > img {
  width: 80%;
  height: 80%;
  object-fit:contain;
  display:block;
    -webkit-transform: translateZ(0); /* GPU boost if needed */
  transform: translateZ(0);
 
  background-color: rgba(59, 59, 59, 0.1);
}


