.embla {
  overflow: hidden;
  display: flex;
  position:relative;
  height: 50vh;
  width: 40vw;
 inset: 235px 510px ;
 border-bottom: solid rgb(219, 218, 218);
 border-left: solid rgb(219, 218, 218);
 
}
.embla__container {
  position: absolute;
  padding-top:60px;
 padding-left:60px;
   
  display: flex;
  height: 100%;
  
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  
}


.embla__slide > img {
  width: 80%;
  height: 80%;
  object-fit:contain;
  display:block;
    -webkit-transform: translateZ(0); /* GPU boost if needed */
  transform: translateZ(0);
  
 

}


