
section {
  width: 100%;
  height: 75vh;          
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla {
  overflow: hidden;
  width: 75%;             /* 75% of page width */
  height: 100%;  
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* or any background color */
}