.embla2 {
  overflow: hidden;
  background-color: rgba(44, 41, 41, 0.712);
  width: 35%;
  height: 100%;
  z-index: 1;   
  color: white; 
  position:fixed;
  left:21vw;
  bottom: 0vh;
  top: 0vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border: white 1px solid;
  border-radius: 2px;
  box-shadow:
  0px 0px 15px rgba(39, 132, 238, 0.877),
  -0em 0em 2em 1.8em rgb(14, 14, 13);
}
.embla__container2 {
  position: absolute;
  padding-top:60px;
 padding-left:60px;
   
  display: flex;
  height: 100%;
  
  
}
.embla__slide2 {
  flex: 0 0 100%;
  min-width: 0;
  
} 

.embla__slide2 > img {
  width: 100%;
  background-color: black;
}