/* Embla viewport */
.embla2 {
  background-color: rgba(44, 41, 41, 0.712); 
  width: 35%;
  height: 100%;
  z-index: 1;   
  color: white; 
  position:fixed;
  left:21vw;
  bottom: 0vh;
  top: 0vh;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: white 1px solid;
  border-radius: 2px;
  box-shadow:
  0px 0px 15px rgba(39, 132, 238, 0.877),
  -0em 0em 2em 1.8em rgb(14, 14, 13);
  overflow-y: auto;
}
/* Embla container (vertical stack) */
.embla__container2 {
    display:flex;
    flex-direction: column; /* vertical scrolling */
    gap: 40px;
    width: auto;
    height: auto;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;
    
    
}

/* Each slide */
.embla__slide2 {
  flex: 0 0 auto; /* prevent shrinking */
  height: auto;  /* height of each slide */
  
  
  
}

/* Project card styling */
.project-card {
  background: #aa3434;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%; /* adjust width */
  height: 250px;
  text-align: center;
  display: flex;
 
}

.project-card:hover {
  transform: scale(1.05);
}

/* Image inside card */
.project-card img {
  height: auto;
  width: 20%;
  object-fit: contain;
}

.project-description{
  
  display: block;
  text-align:left;
  position:static;
  background-color: black;
  width: 70%;
  height: 100%;
  border-left: solid white 2px;
  margin-left: 70px;
  
}
