/* Embla viewport */
.embla2 {
  background-color: rgba(29, 27, 27, 0.938); 
  width: 36%;
  height: 100%;
  z-index: 1;   
  color: white; 
  position:fixed;
  left:21vw;
  bottom: 0vh;
  top: 0vh;
  justify-content: center;
  align-items: center;
  display: inline-block;
  
  border-radius: 2px;
  box-shadow:
  0px 0px 15px rgba(39, 132, 238, 0.877),
  -0em 0em 2em 1.8em rgb(14, 14, 13);
  overflow-y: auto;
}

/* Embla container (vertical stack) */
.embla__container2 {
    display:flex;
    flex-direction: column; /* vertical scrolling */
    gap: 40px;
    width: auto;
    height: auto;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;

    }

/* Each slide */
.embla__slide2 {
  flex: 0 0 auto; /* prevent shrinking */
  height: auto;  /* height of each slide */  
  }

/* Project card styling */
.project-card {  
  border-radius: 12px;
  box-shadow: 0px -1px 20px 2px  rgb(0, 0, 0);
  width: 100%; /* adjust width */
  height: 35vh;
  text-align: center;
  display: flex; 
}


/* Image inside card */
.project-card img {
  padding:2%;
  max-width: 35%;
  max-height: 95%;
  object-fit:cover;
  border-radius: 9%;
}

.project-description{
  text-align:left;
  width: auto;
  height: auto;
  max-width: 65%;
  max-height: 100%;
  border-left: solid white 2px;
  overflow: hidden;
  white-space: wrap;
  line-height: 20px;
  
}

@font-face{
    font-family:"myNeon";
    src: url("../fonts/MiConv.com__neon.woff") format('woff');
    font-weight:100;
  
}
span {
  font-family: "myNeon";
  font-weight: 100;
  font-size: 2.5vh;
}