.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
   flex: 0 0 auto; /* Adapt slide size to its content */
  min-width: 0;
  max-width: 100%; /* Prevent from growing larger than viewport */
}

