.embla2 {
    overflow: hidden;
  display: flex;
  position:relative;
  height: 50vh;
  width: 40vw;
 inset: 135px 20px ;
 border-bottom: solid rgb(219, 218, 218);
 border-left: solid rgb(219, 218, 218);
}
.embla__container2 {
  position: absolute;
  padding-top:60px;
 padding-left:60px;
   
  display: flex;
  height: 100%;
  
  
}
.embla__slide2 {
  flex: 0 0 100%;
  min-width: 0;
  
} 

.embla__slide2 > img {
  width: 100%;
  background-color: black;
}