.site-container{
  position:absolute;
  display: inline-flex;
  align-items: center;
  right:0vw;
  top: 0vh;
  gap:3vw;
  width: 20vw;
  height: 12vh;
  background-color: rgb(67, 68, 68, 0.9);
 padding-left: 50px;
 border-radius: 5px;
 border-bottom:solid;
 border-bottom-color: rgb(124, 201, 224) ;
  border-left:solid;
 border-left-color: rgb(124, 201, 224) ;
 z-index: 1;
}

.img{
  
  height: 7vh;
}


@media (max-width:480px){
    .site-container { 
      position: fixed; 
      left: 50%; 
      transform: translateX(-50%); 
      /* Force bottom placement and unset any top value */ 
      bottom: calc(env(safe-area-inset-bottom, 12px) + 1rem) !important; 
      top: auto !important; 
      width: min(50vw, 420px); max-width: 90%; 
      display: flex; 
      flex-direction: row; 
      align-items: center; 
      justify-content: 
      center; 
      padding: clamp(0.5rem, 2.5vw, 2rem); 
      gap: clamp(0.75rem, 6vw, 2.5rem); 
      background: none; 
      background-color: none;
      border: none; 
      box-sizing: border-box; 
      margin: 0 auto; 
      overflow: visible; 
      pointer-events: auto;  
        z-index:2;

      
    }
    
   
    

}