.site-container{
  position:absolute;
  display: inline-flex;
  align-items: center;
  right:0vw;
  top: 0vh;
  gap:3vw;
  width: 20vw;
  height: 12vh;
  background-color: rgb(67, 68, 68, 0.9);
 padding-left: 50px;
 border-radius: 5px;
 border-bottom:solid;
 border-bottom-color: rgb(124, 201, 224) ;
  border-left:solid;
 border-left-color: rgb(124, 201, 224) ;
 z-index: 2;
}

.img{
  
  height: 7vh;
}

@media (max-width: 1024px){
    .site-container{
                 position:relative;
                  display: inline-flex; 
                  top: 21vh;
                  flex-direction: row; 
                  align-items: center; 
                  justify-content: center; 
                  padding: 2rem; 
                  background: none;
                  width: 50vw;
                  gap: 15%;
                  border:none;
                  
                  
                  
    }
}